<app-navbar></app-navbar>
<br>
<header>
  <h3 class = "display-4">About Music Space</h3>
</header>
<div>
  <p>Music space is an all in one social music browsing app.<br>
    Use this platform to browse your favorite artists, albums, and even preview their songs! <br>
    Need some suggestions? Feel free to browse for your freinds and see what they are listening to!</p><br>
    <img class = "rounded-circle" id = "img" src = "https://pm1.narvii.com/6832/199d953f6a20d0e664c0e0c5d3bd5a29aaaf20a9v2_hq.jpg" alt="Music Space">
</div>

